<div class="container mt-5">
    <div class="card" style="padding: 20px;">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <div class="mb-3">
                <label for="userName" class="form-label">Username:</label>
                <input type="text" class="form-control" id="userName" name="userName" placeholder="Enter username" ngModal>
            </div>
            <div class="mb-3">
                <label for="userPassword" class="form-label">Password:</label>
                <input type="text" class="form-control" id="userPassword" name="userPassword" placeholder="Enter password" ngModal>
            </div>
    
            <div>
                <input type="submit" value="Login" class="btb btn-outline-primary mb-3 rounded form-control ">
            </div>
        </form>
    </div>
</div>